<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Iniciando: Aplicações WEB</title> 
    <meta http-equiv="Content-Type" 
    	content="text/html; charset=UTF-8" />
</head>
<body>
	<label th:text="${message}"></label>
	<form action="#" th:action="@{/salvaraluno}" 
		th:object="${aluno}" method="post">
		<label>Nome: </label>
		<input type="text" th:field="*{nome}" />
		<label>Cpf: </label>
		<input type="text" th:field="*{cpf}" />
		<button name="salvar" type="submit">Salvar</button>
	</form>
	<a href="hello?name=Marcus">Voltar</a>
</body>
</html>
